body{
	display: flex;
}

.right{
	justify-content:center;
	flex: 1;
	background-color: darkgreen;
	display: flex;
}

.left{
	flex:1;
	background-color: powderblue;
	color: navy-blue;
}

a:hover {
	text-decoration: underline;
}




.on{
	background-color: lightgreen;
	color: black;
}

.off{
	background-color: darkgreen;
	color: black;
}

.timeOnSite{
	background-color: lightgreen;
	color: dark-green;
}

.popupNum{
	background-color: lightgreen;
	color: dark-green;
}

.settings{
	color: lightgreen;
}

.sitesList{
	color: lightgreen;
}

.numSites{
	background-color: powderblue;
	color: navy-blue;
}

.dots{
	color: lightgreen;
}

.menu{
	background-color: powderblue;
	color: navy-blue;
}

.alertTime{
	color: lightgreen;
}

.hrsAndMins{
	background-color: powderblue;
	color: navy-blue;
}

.hide{
	display:none;
}