body{
	display: flex;
}

.right{
	justify-content:center;
	flex: 1.5;
	background-color: darkgreen;
	display: flex;
	flex-direction: column;
}

.left{
	flex:1;
	background-color: powderblue;
	color: navy-blue;
}

a:hover {
	text-decoration: underline;

}

.switch{
	flex:1;
	justify-content:center;
	margin-left:50%;
}

.onButton, offButton{
	flex:1;
	border-radius: 4px;
}


.inactive {
	background-color: darkgreen;
	color: black;
}

.active{
	background-color: lightgreen;
	color: black;
}

.stats{
	flex:1;
	flex-wrap: nowrap;
	display:flex;
	flex-direction:row;
	justify-content:center;
}


.timeOnSite{
	flex:1;
	text-align:center;
	background-color: lightgreen;
	color: dark-green;

}

.popupNum{
	flex:1;
	text-align:center;
	background-color: lightgreen;
	color: dark-green;

}

.settings{
	color: lightgreen;
}

.sitesList{
	color: lightgreen;
}

.numSites{
	background-color: powderblue;
	color: navy-blue;
}

.dots{
	color: lightgreen;
}

.menu{
	background-color: powderblue;
	color: navy-blue;
}

.alertTime{
	color: lightgreen;
}

.userTime{
	background-color: powderblue;
	color: navy-blue;
}

.hide{
	display:none;
}